<!DOCTYPE html>
<html lang="en">
<head>
   {{>header}}
  <link rel="stylesheet" href="css/style.css">
</head>
<body>


{{>navber}}


<!-- ================== slicker slider end #======================= -->
                          <section>
                            <h1 class="heading">
                              <span>a</span>
                              <span>b</span>
                              <span>o</span>
                              <span>u</span>
                              <span>t</span>
                               <span>w</span>
                            </h1>
                      </section> 
                          <!-- =========================== -->
<div class="main_layout">
  <div class="row">
    <!-- <div class="col-md-8 col-sm-4 mx-auto"> -->
      <h3 class="product">product introduction</h3>
     <p class="main_textt">
       Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Temporibus expedita delectus, accusamus facilis nemo consectetur
         obcaecati voluptatibus beatae modi, libero saepe explicabo commodi 
         doloribus cumque nesciunt? Non dolor provident enim.
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi eos quam 
     expedita maiores fuga consequuntur deserunt perferendis, sed repudiandae,
      provident veritatis saepe doloremque necessitatibus ut, tempora eligendi
       explicabo ipsam illo!
       Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto libero
        animi doloribus, eveniet numquam temporibus optio debitis laudantium porro
         voluptatum, labore, eius esse odit tenetur nam dicta! Nobis, porro veniam.
         Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Temporibus expedita delectus, accusamus facilis nemo consectetur
         obcaecati voluptatibus beatae modi, libero saepe explicabo commodi 
         doloribus cumque nesciunt? Non dolor provident enim.
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi eos quam 
     expedita maiores fuga consequuntur deserunt perferendis, sed repudiandae,
      provident veritatis saepe doloremque necessitatibus ut, tempora eligendi
       explicabo ipsam illo!
       Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto libero
        animi doloribus, eveniet numquam temporibus optio debitis laudantium porro
         voluptatum, labore, eius esse odit tenetur nam dicta! Nobis, porro veniam.
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto libero
         animi doloribus, eveniet numquam temporibus optio debitis laudantium porro
          voluptatum, labore, eius esse odit tenetur nam dicta! Nobis, porro veniam.
          Lorem ipsum dolor sit amet consectetur, adipisicing elit.
         Temporibus expedita delectus, accusamus facilis nemo consectetur
          obcaecati voluptatibus beatae modi, libero saepe explicabo commodi 
          doloribus cumque nesciunt? Non dolor provident enim.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi eos quam 
      expedita maiores fuga consequuntur deserunt perferendis, sed repudiandae,
       provident veritatis saepe doloremque necessitatibus ut, tempora eligendi
        explicabo ipsam illo!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto libero
         animi doloribus, eveniet numquam temporibus optio debitis laudantium porro
          voluptatum, labore, eius esse odit tenetur nam dicta! Nobis, porro veniam.
     </p>
    <!-- </div> -->
    <!-- svg-clip path -->
  </div>
</div>




<section class="services" id="services">

            <h1 class="heading">
                <span>s</span>
                <span>e</span>
                <span>r</span>
                <span>v</span>
                <span>i</span>
                <span>c</span>
                <span>e</span>
                <span>s</span>
            </h1>
        
            <div class="box-container">
               
              <div class="bg"></div>
              <div class="bg bg2"></div>
              <div class="bg bg3"></div>
            
                <div class="box">
                    <i class="fas fa-hotel"></i>
                    <h3>affordable hotels</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore commodi earum, quis voluptate exercitationem ut minima itaque iusto ipsum corrupti!</p>
                </div>
                <div class="box">
                    <i class="fas fa-utensils"></i>
                    <h3>food and drinks</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore commodi earum, quis voluptate exercitationem ut minima itaque iusto ipsum corrupti!</p>
                </div>
                <div class="box">
                    <i class="fas fa-bullhorn"></i>
                    <h3>safty guide</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore commodi earum, quis voluptate exercitationem ut minima itaque iusto ipsum corrupti!</p>
                </div>
                <div class="box">
                    <i class="fas fa-globe-asia"></i>
                    <h3>around the world</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore commodi earum, quis voluptate exercitationem ut minima itaque iusto ipsum corrupti!</p>
                </div>
                <div class="box">
                    <i class="fas fa-plane"></i>
                    <h3>fastest travel</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore commodi earum, quis voluptate exercitationem ut minima itaque iusto ipsum corrupti!</p>
                </div>
                <div class="box">
                    <i class="fas fa-hiking"></i>
                    <h3>adventures</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore commodi earum, quis voluptate exercitationem ut minima itaque iusto ipsum corrupti!</p>
                </div>
        
            </div>
        
        </section>
        


{{>footer}}


<script src="js/main.js"></script>

</body>
</html>