<!DOCTYPE html>
<html lang="en">
<head>
   {{>header}}
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  
   {{>navber}}
     {{!-- <section>
          <h1 class="heading">
            <span>E</span>
            <span>-</span>
            <span>c</span>
            <span>o</span>
            <span>m</span>
            <span>m</span>
            <span>e</span>
            <span>r</span>
            <span>c</span>
            <span>e</span>
             <!-- <span>w</span> -->
          </h1>
    </section>  --}}
              <!-- ==================#======================= -->
       
     <div class="container">
       <div class="zoomsl">
         {{!-- container --}}
         {{!-- zoom container start --}}
           <div class="xzoom-container">
             
            <img  src="images/bick7.png.png" style="height: 350px"; "width: 500px;" class="xzoom" data-zoom-image="images/bick7.png.png">
             
                <div class="xzoom-thumbs" id="thumb-image">
                
                 <a href="#" data-image=="small/bick8.png.png" data-zoom-image="large/bick8.png.png" >
                 <img class="xzoom-gallery" src="images/bick8.png.png" >
                  </a>

                 <a href="#" data-image=="small/bick9.png.png" data-zoom-image="large/bick9.png.png">
                 <img class="xzoom-gallery" src="images/bick9.png.png" >
                  </a>

                 <a href="#" data-image=="small/bick66.png.png" data-zoom-image="large/bick66.png.png">
                 <img class="xzoom-gallery" src="images/bick66.png.png" >
                 </a>

                <a href="#" data-image=="small/bick99.png.png" data-zoom-image="large/bick99.png.png">
                 <img class="xzoom-gallery" src="images/bick99.png.png" >
                   </a>

               <a href="#" data-image=="small/bick7.png.png" data-zoom-image="large/bick7.png.png">
                 <img class="xzoom-gallery" src="images/bick7.png.png" >
                   </a>

                </div>
           </div>
         {{!-- zoom container end --}}


         {{!-- descripsion start --}}
          <div class="descripsion">
             <h1>Bick's Top</h1>
             <p>
               Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Tempora quo sequi quos ex. Molestias vero ad deleniti, 
                aperiam culpa praesentium? Culpa architecto, iste explicabo 
                laborum possimus animi alias vel non.
                aperiam culpa praesentium? Culpa architecto, iste explicabo 
                laborum possimus animi alias vel non.
             </p>
             <span>
               $21,5400/ - <samp>$23,5600/</samp>
             </span>
             <div class="start-bick">
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
               <i class="far fa-star"></i>
               <i class="far fa-star"></i>
             </div>
             <div class="card-display">
               <button class="buy">Buy Now</button>
               <button class="cart">Add To cart</button>
             </div>
          </div>
         {{!-- descripsion end --}}
       </div>

     </div>








          <!-- ==================#======================= -->

   
<!-- ================== slicker slider end #======================= -->
                          <section>
                            <h1 class="heading">
                              <span>a</span>
                              <span>b</span>
                              <span>o</span>
                              <span>u</span>
                              <span>t</span>
                               <span>w</span>
                            </h1>
                      </section> 
                          <!-- =========================== -->
<div class="main_layout">
  <div class="row">
    <!-- <div class="col-md-8 col-sm-4 mx-auto"> -->
      <h3 class="product">product introduction</h3>
     <p class="main_textt">
       Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Temporibus expedita delectus, accusamus facilis nemo consectetur
         obcaecati voluptatibus beatae modi, libero saepe explicabo commodi 
         doloribus cumque nesciunt? Non dolor provident enim.
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi eos quam 
     expedita maiores fuga consequuntur deserunt perferendis, sed repudiandae,
      provident veritatis saepe doloremque necessitatibus ut, tempora eligendi
       explicabo ipsam illo!
       Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto libero
        animi doloribus, eveniet numquam temporibus optio debitis laudantium porro
         voluptatum, labore, eius esse odit tenetur nam dicta! Nobis, porro veniam.
         Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Temporibus expedita delectus, accusamus facilis nemo consectetur
         obcaecati voluptatibus beatae modi, libero saepe explicabo commodi 
         doloribus cumque nesciunt? Non dolor provident enim.
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi eos quam 
     expedita maiores fuga consequuntur deserunt perferendis, sed repudiandae,
      provident veritatis saepe doloremque necessitatibus ut, tempora eligendi
       explicabo ipsam illo!
       Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto libero
        animi doloribus, eveniet numquam temporibus optio debitis laudantium porro
         voluptatum, labore, eius esse odit tenetur nam dicta! Nobis, porro veniam.
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto libero
         animi doloribus, eveniet numquam temporibus optio debitis laudantium porro
          voluptatum, labore, eius esse odit tenetur nam dicta! Nobis, porro veniam.
          Lorem ipsum dolor sit amet consectetur, adipisicing elit.
         Temporibus expedita delectus, accusamus facilis nemo consectetur
          obcaecati voluptatibus beatae modi, libero saepe explicabo commodi 
          doloribus cumque nesciunt? Non dolor provident enim.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi eos quam 
      expedita maiores fuga consequuntur deserunt perferendis, sed repudiandae,
       provident veritatis saepe doloremque necessitatibus ut, tempora eligendi
        explicabo ipsam illo!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto libero
         animi doloribus, eveniet numquam temporibus optio debitis laudantium porro
          voluptatum, labore, eius esse odit tenetur nam dicta! Nobis, porro veniam.
     </p>
    <!-- </div> -->
    <!-- svg-clip path -->
  </div>
</div>
<section>
  <h1 class="heading">
    <span>M</span>
    <span>e</span>
    <span>d</span>
    <span>i</span>
    <span>s</span>
     <span>i</span>
     
     <span>n</span>
  </h1>
</section> 

<div class="post-container ">
  <div class="post">
    <div class="image">
      <img src="https://www.regjeringen.no/contentassets/5c5bcf326d78411f97c9ea1b41bf4f54/colourbox6155843-legemidler.jpg" style="width: 230px; height: 150px;">
    </div>
<div class="content22">
<div class="data"><i class="fas fa-calendar-week"></i>jul 8, 2021</div>
  <a href="" class="title33">post-title goes here</a>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
   Consequatur qui tempora omnis, culpa quod maxime libero ipsa
    neque laudantium quas tenetur cumque nihil incidunt debitis
     adipisci nemo dolorem accusantium eum?</p>
     <a href="" class="link">red mor</a>
</div>
  </div>
       <!-- parth 2 -->
       <div class="post">
        <div class="image">
          <img src="https://www.kompetansebroen.no/wp-content/uploads/2020/01/Eldre-og-legemidler.jpg" style="width: 230px; height: 150px;">
        </div>
    <div class="content22">
    <div class="data"><i class="fas fa-calendar-week"></i>jul 8, 2021</div>
      <a href="" class="title33">post-title goes here</a>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
       Consequatur qui tempora omnis, culpa quod maxime libero ipsa
        neque laudantium quas tenetur cumque nihil incidunt debitis
         adipisci nemo dolorem accusantium eum?</p>
         <a href="" class="link">red mor</a>
    </div>
      </div>
           <!-- parth 3 -->
           <div class="post">
            <div class="image">
              <img src="https://www.lommelegen.no/images/68926516.jpg?imageId=68926516&x=0&y=0&cropw=100&croph=100&width=640&height=480" style="width: 230px; height: 150px;">
            </div>
        <div class="content22">
        <div class="data"><i class="fas fa-calendar-week"></i>jul 8, 2021</div>
          <a href="" class="title33">post-title goes here</a>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
           Consequatur qui tempora omnis, culpa quod maxime libero ipsa
            neque laudantium quas tenetur cumque nihil incidunt debitis
             adipisci nemo dolorem accusantium eum?</p>
             <a href="" class="link">red mor</a>
        </div>
          </div>
          <!-- parth 5 -->
          <div class="post">
            <div class="image">
              <img src="https://dagensmedisin.imagevault.media/publishedmedia/97j4ydq0lcu4hdpwqmke/infusjon_medisin.jpg" style="width: 230px; height: 150px;">
            </div>
        <div class="content22">
        <div class="data"><i class="fas fa-calendar-week"></i>jul 8, 2021</div>
          <a href="" class="title33">post-title goes here</a>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
           Consequatur qui tempora omnis, culpa quod maxime libero ipsa
            neque laudantium quas tenetur cumque nihil incidunt debitis
             adipisci nemo dolorem accusantium eum?</p>
             <a href="" class="link">red mor</a>
        </div>
          </div>
          
</div>
            <!-- ============== secend parth=============== -->
 
           <!--================== card media ===============================-->
           <section class="services" id="services">

            <h1 class="heading">
                <span>s</span>
                <span>e</span>
                <span>r</span>
                <span>v</span>
                <span>i</span>
                <span>c</span>
                <span>e</span>
                <span>s</span>
            </h1>
        
            <div class="box-container">
               
              <div class="bg"></div>
              <div class="bg bg2"></div>
              <div class="bg bg3"></div>
            
                <div class="box">
                    <i class="fas fa-hotel"></i>
                    <h3>affordable hotels</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore commodi earum, quis voluptate exercitationem ut minima itaque iusto ipsum corrupti!</p>
                </div>
                <div class="box">
                    <i class="fas fa-utensils"></i>
                    <h3>food and drinks</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore commodi earum, quis voluptate exercitationem ut minima itaque iusto ipsum corrupti!</p>
                </div>
                <div class="box">
                    <i class="fas fa-bullhorn"></i>
                    <h3>safty guide</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore commodi earum, quis voluptate exercitationem ut minima itaque iusto ipsum corrupti!</p>
                </div>
                <div class="box">
                    <i class="fas fa-globe-asia"></i>
                    <h3>around the world</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore commodi earum, quis voluptate exercitationem ut minima itaque iusto ipsum corrupti!</p>
                </div>
                <div class="box">
                    <i class="fas fa-plane"></i>
                    <h3>fastest travel</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore commodi earum, quis voluptate exercitationem ut minima itaque iusto ipsum corrupti!</p>
                </div>
                <div class="box">
                    <i class="fas fa-hiking"></i>
                    <h3>adventures</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore commodi earum, quis voluptate exercitationem ut minima itaque iusto ipsum corrupti!</p>
                </div>
        
            </div>
        
        </section>
        
                         <!-- review sections start swiper.js-->
        
<section class="gallery" id="gallery">

  <h1 class="heading">
      <span>g</span>
      <span>a</span>
      <span>l</span>
      <span>l</span>
      <span>e</span>
      <span>r</span>
      <span>y</span>
  </h1>

  <div class="box-container">

      <div class="box">
          <img src="images/picture.png" alt="">
          <div class="content">
              <h3>amazing places</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, tenetur.</p>
              <a href="#" class="btn">see more</a>
          </div>
      </div>
      <div class="box">
          <img src="images/picture2.png" alt="">
          <div class="content">
              <h3>amazing places</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, tenetur.</p>
              <a href="#" class="btn">see more</a>
          </div>
      </div>
      <div class="box">
          <img src="images/picture3.png" alt="">
          <div class="content">
              <h3>amazing places</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, tenetur.</p>
              <a href="#" class="btn">see more</a>
          </div>
      </div>
      <div class="box">
          <img src="images/picture4.png" alt="">
          <div class="content">
              <h3>amazing places</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, tenetur.</p>
              <a href="#" class="btn">see more</a>
          </div>
      </div>
      <div class="box">
          <img src="images/picture.png" alt="">
          <div class="content">
              <h3>amazing places</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, tenetur.</p>
              <a href="#" class="btn">see more</a>
          </div>
      </div>
      <div class="box">
          <img src="images/picture2.png" alt="">
          <div class="content">
              <h3>amazing places</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, tenetur.</p>
              <a href="#" class="btn">see more</a>
          </div>
      </div>
      <div class="box">
          <img src="images/picture3.png" alt="">
          <div class="content">
              <h3>amazing places</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, tenetur.</p>
              <a href="#" class="btn">see more</a>
          </div>
      </div>
      <div class="box">
          <img src="images/picture4.png" alt="">
          <div class="content">
              <h3>amazing places</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, tenetur.</p>
              <a href="#" class="btn">see more</a>
          </div>
      </div>
      <div class="box">
          <img src="images/picture.png" alt="">
          <div class="content">
              <h3>amazing places</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, tenetur.</p>
              <a href="#" class="btn">see more</a>
          </div>
      </div>
      <div class="box">
        <img src="images/picture4.png" alt="">
        <div class="content">
            <h3>amazing places</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, tenetur.</p>
            <a href="#" class="btn">see more</a>
        </div>
    </div>
  </div>

</section>























        <h1 class="heading">
          <span>s</span>
          <span>e</span>
          <span>r</span>
          <span>v</span>
          <span>i</span>
          <span>c</span>
          <span>e</span>
          <span>s</span>
      </h1>

<div class="main-account">
  
</div>

<!--===========================================swiper carousel============================== -->
<div class="medical-box">
<section class="brand-container">
  <div class="swiper-container brand-slider">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="https://www.clipartmax.com/png/middle/63-631198_medic-symbol-medic-sticker-by-anmgoug-on-redbubble-medicine.png" style="width: 210px; height: 110px;">
      </div>
      <div class="swiper-slide">
        <img src="https://w7.pngwing.com/pngs/255/658/png-transparent-emoji-tablet-pharmaceutical-drug-sticker-combined-oral-contraceptive-pill-emoji-blue-text-logo.png" style="width: 210px; height: 110px;">
      </div>
      <div class="swiper-slide">
        <img src="https://image.emojipng.com/875/12802875.jpg" style="width: 210px; height: 110px;">
      </div>
      <div class="swiper-slide">
        <img src="https://img.favpng.com/0/23/22/nurse-s-cap-nursing-medicine-png-favpng-s4kzw8KbgMWk1x6dEYcaz1G0G.jpg" style="width: 210px; height: 110px;">
      </div>
      <div class="swiper-slide">
        <img src="https://w7.pngwing.com/pngs/612/1022/png-transparent-stethoscope-heart-myocardial-infarction-physician-stetoskop-love-text-medicine.png" style="width: 210px; height: 110px;">
      </div>
      <div class="swiper-slide">
        <img src="https://w7.pngwing.com/pngs/232/1009/png-transparent-emoji-syringe-injection-sticker-sms-doctor-glass-sticker-emoticon.png" style="width: 210px; height: 110px;">
      </div>
    </div>
  </div>
</section>
</div>



{{>footer}}





<script src="js/main.js"></script>
</body>
</html>