
<meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>swiper</title>

<script src="https://kit.fontawesome.com/9a416a1cca.js" crossorigin="anonymous"></script>
  <!-- bootstrap -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- swiper link -->
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css" />
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />


{{!-- this oarth css --}}
<link rel="stylesheet" href="css/style.css">


<!-- jquery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" 
integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
 crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

{{!-- Zoomsl.js Zoomsl plugin's  --}}
{{!-- <script src="jquery-3.3.1.min.js"></script> --}}
{{!-- <script src="zoomsl.min.js"></script> --}}

{{!-- Elevetor zoom --}}


<script src="https://cdnjs.cloudflare.com/ajax/libs/elevatezoom/3.0.0/jquery.elevatezoom.min.js" integrity="sha512-St9HRIhNgJynxYPVP/avOZ5xGH3nYyvRiQGRVvhkGoshqrPVkBUVub/+Jthc13PIOkHLdMWrMC7AB9LYLLOnfA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
