   
   
     <!-- navigation abr -->
     <div class="topnav">
       <div class="techno">
        <a href="" style="font-size: 29px;"><i class="fas fa-headphones"></i><span>T</span>chno<span>l</span>ogia<span>t</span>e<i class="far fa-snowflake"></i></a>
       </div>
      <!-- <a class="active" href="#home">Home</a>
      <a href="#news">News</a>
      <a href="#contact">Contact</a> -->
      <a href="/login" style="font-size: 29px;"><i class="fas fa-sign-in-alt"></i>Login</a>
    </div>
 <!-- navigation abr ens-->
  <input type="checkbox" name="" id="side-menu-switch">
  <div class="side-menu">
      <form action="">
          <input type="text" placeholder="Search For">
          <button>
                  <i class="fas fa-search"></i>
          </button>
      </form>
      <nav>
          <a href="/"><i class="fas fa-home"></i></i>Home</a>
          <a href="/about"><i class="fas fa-eject"></i>About</a>
          <a href="/registar"><i class="fas fa-user-circle"></i>Registration</a>
          <a href="/secret"><i class="fas fa-key"></i>Secret</a>
          <a href="/login"><i class="fas fa-sign-in-alt"></i>Login</a>
          <a href="/logout"><i class="fas fa-sign-out-alt"></i>Logout</a>
          {{!-- <a href="#"><i class="fas fa-gavel"></i>Logout</a> --}}
      </nav>
      <label for="side-menu-switch">
          <i class="fas fa-angle-left"></i>
      </label>
  </div>